In [3]:
# Check if environment is ready

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Environment ready")
print("pandas:",pd.__version__)

Environment ready
pandas: 2.3.3

In [7]:
from sqlalchemy import create_engine
import pandas as pd

# build connection string
engine = create_engine("postgresql+psycopg2://postgres:root@localhost:5432/electronics_retailer_db")

# test query
df_sales = pd.read_sql_query("select * from sales limit 5;", engine)
df_sales.head()

,order_number,line_item,order_date,delivery_date,customer_key,store_key,product_key,quantity,currency_code,fx_key
0,366009,1,2016-01-01,None,254540,9,1648,1,CAD,1792
1,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD,1792
2,366011,1,2016-01-01,None,1984985,66,128,7,USD,1791
3,366011,2,2016-01-01,None,1984985,66,1638,1,USD,1791
4,366011,3,2016-01-01,None,1984985,66,1634,1,USD,1791

In [9]:
from sqlalchemy import inspect

inspector = inspect(engine)
inspector.get_table_names()

['customers',
 'stores',
 'fx_rates',
 'sales',
 'subcategories',
 'categories',
 'products']

In [10]:
tables = ["customers","stores","fx_rates","sales","subcategories","categories","products"]

dfs = {t: pd.read_sql_query(f"select * from {t};", engine) for t in tables}

# quick check
for name, df in dfs.items():
    print(f"{name}: {len(df):,} rows × {len(df.columns)} columns")

customers: 15,266 rows × 11 columns
stores: 67 rows × 5 columns
fx_rates: 11,215 rows × 4 columns
sales: 62,884 rows × 10 columns
subcategories: 32 rows × 2 columns
categories: 8 rows × 2 columns
products: 2,517 rows × 8 columns